.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  font-size: 16px;
  color: #333;
  background: #FFF;
}
.main {
  padding: 20px 10px 15px;
}
.content > div + div {
  height: 17px;
  line-height: 17px;
  margin: 5px 0;
}
.content {
  display: flex;
  flex-direction: column;
}
.cardAlignBottom {
  composes: card;
}
.cardAlignBottom .content {
  justify-content: flex-end;
}
.icon {
  display: block;
  margin: 0 auto 15px;
}
.name {
  font-size: 18px;
  font-weight: 400;
}
.author {
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888;
}
.footer {
  position: relative;
  padding: 10px 15px;
}
.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background: #CDCDCD;
}
.footerInstalling {
  composes: footer;
  padding: 10px 10px;
}
.footerInstalling:before {
  display: none;
}
.footerInstallProgress {
  margin-top: -10px;
  margin-bottom: 4px;
}
.actionWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.action {
  padding: 0 2px;
  line-height: 1.7em;
  height: 1.7em;
  font-size: 16px;
}
