.button {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  color: #333;
  background: #FFFFFF;
  outline: 0;
  text-align: center;
}
.button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px;
}
.button[disabled],
.button[disabled]:active,
.button[disabled]:focus {
  color: rgba(102,102,102,0.5);
  background: transparent;
  border: 1px solid rgba(102,102,102,0.5);
}
.button:active,
.button:focus {
  color: #333;
  background: #F7F7F7;
}
.buttonPositive {
  composes: button;
  color: #FFF;
  border: 1px solid #0E8420;
  background: #0E8420;
}
.buttonPositive:active,
.buttonPositive:focus {
  color: #FFF;
  background: #0B6B1A;
}
.buttonStrong {
  composes: button;
  color: #FFF;
  border: 1px solid #E95420;
  background: #E95420;
}
.buttonStrong:active,
.buttonStrong:focus {
  color: #FFF;
  background: #D74F1E;
}
.spinner {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(/spinner.png) no-repeat 0 0;
  background-size: cover;
  animation: spinner-spin 1.5s linear infinite;
}
@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
