.CardsList {
  padding-bottom: 40px;
}
.CardsList-title {
  margin-top: 45px;
  margin-bottom: 20px;
}
.CardsList-title,
.CardsList-title h1 {
  font-size: 32px;
  line-height: 40px;
}
.CardsList-content {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px 0;
}
.CardsList .Card {
  width: 230px;
  margin: 10px;
}
.CardsList-separator {
  height: 0;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px dotted #D2D2D2;
}
