.main {
  padding-bottom: 40px;
}
.title {
  font-size: 32px;
  line-height: 40px;
}
.header {
  margin-top: 45px;
  margin-bottom: 20px;
}
.headerCustom {
  composes: title header;
  margin-top: 0px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px 0;
}
.cardWrapper {
  display: flex;
  margin: 10px;
}
.separator {
  height: 0;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px dotted #D2D2D2;
}
